<div class='createAccountBackground'>
<div class='signInWrapper'>

<h1 class='customerLogin'>Create New Customer Account</h1>

<h1 class='registeredCust'>Personal Information</h1>
<form id='createNewAccount' ng-submit='createUser(user)'>
  <h1>First Name<span> *</span></h1>
  <input ng-model='user.first_name' type='text' class='' maxlength='128' required>

  <h1>Last Name<span> *</span></h1>
  <input ng-model='user.last_name' type='text' class='' maxlength='128' required>

  <h1 class='registeredCust'>Sign-in Information</h1>

  <h1>Email<span> *</span></h1>
  <input ng-model='user.email' type='text' class='' maxlength='128' required>

  <h1>Password<span> *</span></h1>
  <input ng-model='user.password' type='password' class='' maxlength='128' required>

  <h1>Confirm Password<span> *</span></h1>
  <input ng-model='confirmPassword' type='password' class='' maxlength='128' required>
  <button class='createAccountButton2' type="submit" name="button">Create an Account</button>
</form>
</div>
</div>
