<div class='footer'>
<div class=footerInnards>

<div class='footerWrap'>
<div class='footerMenuWrap'>
<h1>About Us</h1>
<ul>
<li>Company Info</li>
<li>Career Oppurtunities</li>
<li>Community Involvement</li>
<li>FAQs</li>
</ul>
</div>

<div class='footerMenuWrap'>
<h1>Our Services</h1>
<ul>
<li>Shipping Information</li>
<li>Returns & Refunds</li>
<li>Gift Cards</li>
<li>Contact Us</li>
</ul>
</div>

<div class='footerMenuWrap'>
<h1>Let's Connect</h1>
<ul>
<li>Join the conversation. Become part of the Family Video Community.</li>
<li>
<img ng-src='./pictures/other/1facebook-icon.jpg'>
<img ng-src='./pictures/other/2twitter_1.jpg'>
<img ng-src='./pictures/other/3instagram.jpg'>
<img ng-src='./pictures/other/4snapchat.png'>
<img ng-src='./pictures/other/5linkedin.png'>
</li>
</ul>
</div>

<div class='footerMenuWrap'>
<h1>Store Near You</h1>
<ul>
<li>With over 750 locations, there's a Family Video location near you.</li>
<li class='redFont'>Find a Store</li>
</ul>
</div>

</div>
</div>

<div class='highlandFooterPic'>
<img ng-src='./pictures/other/6footer-highland.png'>
</div>
</div>
