<div class='signInWhiteBackground'>
<div class='signInWrapper'>
<h1 class='customerLogin'>Customer Login</h1>

<div class='registeredCustWrapper'>
<h1 class='registeredCust'>Registered Customers</h1>
<h2>If you have an account, sign in with your email address.</h2>

<form id='logInRegistered' ng-submit='logIn(account)'>
<h1>Email<span> *</span></h1>
<input ng-model='account.email' type='text' class='' placeholder='Email' maxlength='128'>

<h1>Password<span> *</span></h1>
<input ng-model='account.password' type='password' class='' placeholder='Password' maxlength='128'>

<div class='submitButton' type="submit" name="button">Sign In</div>
<div class='requiredField'>* Required Fields</div>
</form>
</div>

<span class='registeredCustWrapperRightSide'>
<h1 class='registeredCust'>New Customers</h1>
<h2>Creating an account has many benefits: check out faster, keep more than one address, track orders and more.</h2>

<a ui-sref="createAccount"><h2>Create Account</h2></a>
</span>

</div>
</div>
