@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,300i,400,400i,600,700');

@media screen and (max-width: 575px) {
  .leftNav{
    text-align: center;
    height: 20px;
    width:94%;
    font-size: 10px;
  }
}

@media screen and (min-width: 576px) {
  .leftNav {
    text-align: center;
    height: 20px;
    width: 100%;
  }
}

/*The customer login page*/
@media screen and (max-width: 666px){
  .registeredCustWrapper{
    display: flex;
    flex-direction: column;
  }

  .registeredCustWrapperRightSide{
    display: flex;
    flex-direction: column;
    padding-top:40px;
  }
}

@media screen and (min-width: 667px){
  .registeredCustWrapper{
    width: 48%;
    float: left;
  }

  .registeredCustWrapperRightSide{
    width: 52%;
    float: right;
  }
}


@media screen and (max-width: 1239px) {

  .rightLinks {
    display: none;
  }

  .searchMagGlassMinView {
    position: absolute;
    top: 5px;
    right: 6px;
    width: 50px;
    cursor: pointer;
  }

  .header-outer {
    position: absolute;
    /*padding-left: 20px;
    padding-right: 20px;*/
    top: 45px;
    width: 100%;
    height: 30px;
    background: black;
    text-align: center;
  }

  .whiteLogo {
    width: 189px;
  }

  .shoppingCart {
    position: absolute;
    width: 25px;
    right: 16px;
    z-index: 5;
  }

  .miniMenu {
    position: absolute;
    cursor: pointer;
    left: 15px;
    font-size: 12px;
  }

  .lineAboveMenu {
    position: absolute;
    border-radius: 50px;
    left: 15px;
    width:30px;;
    height:3px;
    background-color: white;
  }

  .view {
    position: absolute;
    top: 90px;
  }

  .headerTransWrapper {
    display: none;
  }

  .headerBackgroundWrapper {
    display: none;
  }

  .headerTrans{
    display: none;
  }

  .headerTrans img {
  display: none;
  }

  .dropdownSearchMini{
    background-color: rgba(0, 0, 0, 0.6);
    height: 70px;
    width: 100%;
    position: absolute;
    top: 86px;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .miniSearchInput{
    height: 32px;
    font-size: 14px;
    width: calc(95%);
    border: 1px solid #c2c2c2;
    background: #ccc;
    padding: 0 9px;
  }

  .cartDropdown {
    position: absolute;
    top: 90px;
    right: 0px;
    width: 390px;
    background-color: black;
    color: black;
    z-index: 5;
    margin-right: 40px;
  }

}

@media screen and (min-width: 1240px) {

  .leftNav {
    /*padding-left: 20px;*/
    text-align: center;
    height: 20px;
    width: 505.188px;
  }

  .rightLinks {
    position: absolute;
    right: 44.50px;
    /*margin-left: 20px;*/
    display: flex;
    align-items: center;
  }

  .rightLinks a {
    width: 77.375;
    length: 20px;
    text-decoration: none;
    color: #d7d7d7;

    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 20px;
  }

  .rightLinks a:hover {
    text-decoration: underline;
  }

  ::-webkit-input-placeholder {
   color: black;
  }

  .formTesting{
      position: absolute;
      left: -220px;
      top: 5px;
    }

    .searchInput {
    height: 41px;
    width: 190px;
    font-size: 12px;
    font-weight: 600;
    background-color: #ccc;
    border: 1px solid #c2c2c2;
    outline-color: initial;
    outline-style: initial;
    outline-width: 0px;
    outline-color: initial;
    outline-style: initial;
    padding-left: 9px;
    padding-right:35px;
  }

  .searchMagGlassMinView {
    display: none;
  }

  .header-outer {
    display: none;
  }

  .whiteLogo {
    display: none;
  }

  .miniMenu {
    display: none;
  }

  .lineAboveMenu {
    display: none;
  }

  .view {
    position: absolute;
    top: 135px;
  }

  .headerTransWrapper {
  width: 100%;
  height:90px;
  display: flex;
  justify-content: center;
  }

  .headerBackgroundWrapper {
    width: 100%;
    height:90px;
    position: absolute;
  background-color: red;
  z-index: 3;
  top:45px;
  border-top: 1px solid #363636;
  background-color: rgba(0,0,0,0.75);
  }

  .headerTrans{
  position: absolute;
  top: 40px;
  z-index: 3;
  /*width: 100%;*/
  width: 1240px;
  height: 90px;
  margin-top: 5px;
  font-size: 16px;
  }

  .headerTrans img {
    position: absolute;
    top: 25px;
    width: 25px;
    z-index: 4;

  }

  .miniSearchInput{
    display: none;
  }

  .cartDropdown {
    position: absolute;
    top: 135px;
    right: 0px;
    width: 390px;
    background-color: black;
    color: black;
    z-index: 5;
    margin-right: 40px;
  }

}

.body {
    color: white;
    background-color: black;
    font-family: 'Roboto','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 1.42857143;
    font-size: 14.3px;
}

.topBannerWrapper {
  width: 100vw;
  height: 750px;
  /*display: flex;
  justify-content: center;*/
}

.topBanner {
  position: relative;
  top: 0px;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.topBlackHeader {
  position: absolute;
  background-color: black;
  width:100%;
  height: 135px;
}

.topWrapper {
  width:100%;
  text-align: center;
  display: flex;
  justify-content: center;
}


.page-header {
  display: flex;
  align-items: center;
  /*box-sizing: border-box;*/
  margin-left: auto;
  margin-right: auto;
  color: #d7d7d7;
  max-width: 1240px;
  /*padding: 5px 20px 5px 20px;*/
  max-width: 1240px;
}

.header-background {
  position: absolute;
  top: 2px;
  background-color: black;
  height: 35px;
  width: 100%;
}

.italic {
  font-style: italic;
}

.orangeFont {
  text-decoration: none;
  color: #ff6200;
}

.orangeFont:hover {
  text-decoration: underline;
}

.inputBackground {
  position: absolute;
  top: 12px;
  left: -30px;
  width: 50px;
  background: url('./pictures/other/business-search.png') no-repeat scroll 7px 7px;
  /*padding-left: 30px;*/
}

.origSearchWrapper {
  cursor: pointer;
  margin-right: 20px;
}

.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 7; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    /*padding-top: 10px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.sidenav a {
    padding: 10px 8px 8px 32px;
    text-decoration: none;
    font-size: 16px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 1px;
    font-size: 36px;
    margin-left: 50px;
}

.theX {
    position: absolute;
    top: 5px;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    /*transition: margin-left .5s;*/
    /*padding: 20px;*/
}

.welcomeMenu {
position: relative;
text-align: center;
display: block;
color: white;
padding: 20px 0 10px;
font-size: 16px;
padding-right: 47px;
}

.lineAbove {
  border-top: 1px solid #d1d1d1;
}

.tempSignedIn{
  position: relative;
  top: 40px;
  right: -500px;
  z-index: 2;
}

.cartIcon {
  position: relative;
  top: 40px;
  right: -700px;
  z-index: 2;
}

.cartLineWrapper{
  display: flex;
  align-items: center;
}

.cartLineAbove {
  border-top: 1px solid #d1d1d1;
  width: 350px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 15px;
  margin-bottom: -20px;

}

.titleInCart {
  color: #ff6200;
  position: relative;
  top: 24px;
  left: 106px;
  width: 71%;
}

.priceInCart {
  color: white;
  position: relative;
  top: 29px;
  left: 106px;
}

.cartFunction{
  position: relative;
  top: 40px;
  right: -900px;
  z-index: 2;
}

.lowerMenu li {
  cursor: pointer;
}

.miniAccount {
  position: absolute;
  background: white;
  right: 90px;
  width:90px;
  height: 91px;
  z-index: 4;
  display: flex;
  justify-content: center;
}

.headerTrans .logo {
  position: absolute;
  width: 189px;
  top: 15px;
  left: 10px;
}

.miniAccount a {
  color: black;
  position: relative;
  top: 55px;
  text-decoration: none;
}

.miniCart {
  position: absolute;
  background: #ff6200;
  right: 0px;
  width:90px;
  height: 91px;
  z-index: 3;
  display: flex;
  justify-content: center;
}

.miniCart h1 {
  position: absolute;
  top: 55px;
}

.cursor{
  cursor: pointer;
}

.cartThumbnail img{
  width: 78px;
  padding-left: 35px;
  margin-top: -19px;
}

.checkoutButton {
  position: relative;
  text-align: center;
  width: 310px;
  background-color: #ff6200;
  color: white;
  font-size: 16px;
  padding-top: 14px;
  padding-bottom: 14px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

.noUnderline{
  text-decoration: none;
  color: white;
}

.emptyCartMessage {
  position: relative;
  text-align: center;
  color: white;
  font-size: 16px;
  padding-top: 14px;
  padding-bottom: 14px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

.xInCart {
  cursor: pointer;
  position: relative;
  top: 84px;
  left: 327px;
  width:15px;
}

.lowerMenuWrapper{
  width: 100%;
  display: flex;
  justify-content: center;
  padding-left: 21px;
}

.lowerMenu {
  position: absolute;
  width: 829.812px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

.signInWhiteBackground{
  width: 100vw;
  height: 100vh;
  background-color: white;
  color: black;
}

.searchWhiteBackground{
  width: 100vw;
  height: 100%;
  background-color: white;
  color: black;
}

.searchWrapper{
  max-width: 1280px;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: auto;
  margin-left: auto;
}

.individualMovieWrapper{
  min-width: 25%;
}

.movieWrapper{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.searchHeader{
  font-size: 40px;
  font-style: italic;
  font-weight: 100;
  padding-top: 20px;
  padding-bottom: 20px;
}

.createAccountBackground{
  width: 100vw;
  height: 100%;
  background-color: white;
  color: black;
}

.signInWrapper{
  margin-left: auto;
  margin-right: auto;
  max-width:1280px;
  padding-left:20px;
  padding-right: 20px;
  background-color: white;
}

.checkoutWrapper{
  margin-left: auto;
  margin-right: auto;
  max-width:1240px;
  padding-left:20px;
  padding-right: 20px;
  background-color: white;
}

.verifyLeftSide{
  width:60%;
  float: left;
}

.verifyRightSide{
  width: 40%;
  float: right;
}

.orderSummaryWrapper{
  background-color: #f5f5f5;
  /*height: 275px;*/
  margin-top: 88px;
  padding-left: 32px;
  padding-right: 32px;
  margin-left: 26px;
}

.customerLogin{
  font-size: 40px;
  font-style: italic;
  font-weight: 100;
  padding-top: 40px;
  padding-bottom: 40px;
}

.shippingAddress{
  font-size: 40px;
  font-style: italic;
  font-weight: 100;
  padding-top: 40px;
  padding-bottom: 0px;
}

.verifyAddress{
  font-size: 40px;
  font-style: italic;
  font-weight: 100;
  padding-top: 40px;
  padding-bottom: 11px;
}

.paddingLeft{
  padding-left: 10px;
}

.paddingLeftApplyDisc{
  padding-left: 27px;
  color: #ff6200;
  font-weight: 700;
  cursor: pointer;
}

.lastCheckAddress{
  font-size:16px;
}

.originalAddressText{
  margin-top: 10px;
  height: 60px;
  width: 66%;
  background:#f5f5f5;
  padding: 10px;
  outline: 1px solid #ccc;
}

.paymentMeth{
  height: 44px;
  display: flex;
  align-items: center;
  padding-top: 15px;
}

.paymentMeth img{
  padding-left: 10px;
  padding-right: 10px;
}

.checkoutInputs input{
  width: 580px;
  height: 30px;
  font-size: 14px;
  padding-left: 9px;
  padding-right: 9px;
}

.checkoutInputs h1{
  font-weight:700;
  margin-top: 25px;
  margin-bottom: 5px;
}

.checkoutInputs span{
  color: #e02b27;
}

.registeredCust {
  font-weight:700;
  font-size: 18px;
  border-bottom: 1px solid #e8e8e8;
  padding-bottom: 12px;
  margin-bottom: 35px;
  width: 90%;
}

#logInRegistered h1{
  font-weight:700;
  margin-top: 25px;
  margin-bottom: 5px;
}

#logInRegistered input{
  background: rgb(250, 255, 189);
  height: 32px;
  font-size: 14px;
  width: 268.531px;
  padding-left: 9px;
  padding-right: 9px;
}

#logInRegistered span{
  /*background: rgb(250, 255, 189);
  height: 32px;
  font-size: 14px;
  width: 268.531px;
  padding-left: 9px;
  padding-right: 9px;*/
  color: #e02b27;
}

#createNewAccount h1{
  font-weight:700;
  margin-top: 25px;
  margin-bottom: 5px;
}

#createNewAccount span{
  color: #e02b27;
}

#createNewAccount input{
  height: 32px;
  font-size: 14px;
  width: 90%;
  padding-left: 9px;
  padding-right: 9px;
}

.createAccountButton {
  margin-top: 25px;
}

.createAccountButton a{
  background-color: #ff6200;
  font-weight: 400;
  color: white;
  padding: 7px 16px;
  width: 44px;
  height: 21px;
  margin-top: 20px;
  text-decoration: none;
}

#createNewAccount .createAccountButton2 {
  /*border: none;*/
  background-color: #ff6200;
  font-weight: 400;
  font-size: 14px;
  color: white;
  padding: 7px 13px;
  width: 150px;
  height: 36px;
  margin-top: 20px;
  text-decoration: none;
  border: 0;
  cursor: pointer;
}

.addToCart {
  background-color: #ff6200;
  font-weight: 400;
  font-size: 14px;
  color: white;
  padding: 7px 13px;
  width: 112px;
  height: 36px;
  margin-top: 10px;
  margin-bottom: 20px;
  text-decoration: none;
  border: 0;
  cursor: pointer;
}

#logInRegistered .submitButton{
  background-color: #ff6200;
  font-weight: 400;
  font-size: 14px;
  color: white;
  padding: 7px 13px;
  width: 150px;
  height: 36px;
  margin-top: 20px;
  text-decoration: none;
  border: 0;
  cursor: pointer;
}

.checkoutNextButton{
  background-color: #ff6200;
  font-weight: 400;
  font-size: 19px;
  color: white;
  padding: 7px 13px;
  width: 78px;
  height: 50px;
  margin-top: 20px;
  text-decoration: none;
  border: 0;
  cursor: pointer;
}

.requiredField{
  color: #e02b27;
  font-size: 12.5px;
  margin-top: 25px;
}

.movieCover{
  width: 240px;
  height: 300px;
}

.checkoutWhiteBackground{
  background-color: white;
  width:100vw;
  height:100vh;
  color: black;
}

.cards img{
  padding-right: 5px;
  padding-top: 20px;
  padding-bottom: 5px;
}

.opacityCard{
  opacity: 0.1;
}

.creditCardInput{
  height: 30px;
  width: 205px;
}

.discountCodeInput{
  width: 480px;
  height: 30px;
  padding-right: 9px;
  padding-left: 9px;
  margin-left: 20px;
}

.orderSummary{
  font-size: 26px;
  font-weight: 200;
  padding-top: 15px;
}

.orderSummaryContent{
  display: flex;
  flex-direction: column;
}

.orderSummarySpaceBetween{
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.bold{
  font-weight: 700;
}
